<h1  id="title">Sprint Planner</h1>
<p  id="title">Welcome to Sprint Planner</p>




<div class="board">

    <a id="card" href="/sr">
        Select Squad
    </a>
    <a id="card" href="/logout">
        Logout
    </a>
</div>
