body {
  padding: 20px;
  font: 28px "Univers for BP", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #28a500;
}

.form-control {
  padding: 5px;
  font: 16px "Univers for BP", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #28a500;
}

p {
  padding: 20px;
  font: 14px "Univers for BP", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #28a500;
}


#title{
  display: block;
  text-align: center;
}

a {
  color: #28a500;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  /*align-items: first;*/
  justify-content: center;
  vertical-align: top;
  /*border: 2px solid rgba(0, 0, 0, 0.125);*/
  padding: 10px;
  text-align: center;


}
#cardb {
  display: block;
  text-decoration: none;
  padding: 2px;
  margin: 10px;
  width: 4rem;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  text-align: center;
  font: 28px "Univers for BP", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #28a500;
}

#card {
  display: block;
  text-decoration: none;
  padding: 2px;
  margin: 10px;
  width: 18rem;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  text-align: center;
  font: 28px "Univers for BP", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #28a500;
}
.mainboard {
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  text-align: center;
  /*border: 2px solid rgba(0, 0, 0, 0.125);*/
}

.bli {
  margin: 2px;
  border: 2px solid rgba(70, 121, 2, 0.12);
  border-radius: 10px;
}

.column {
  margin: 2px;
  border: 2px solid rgba(70, 121, 2, 0.12);
  padding: 10px;
  border-radius: 10px;
  width: 15pc;
  align-items: center;
  justify-content: center;
}


.columne {
  margin: 2px;
  border: 2px solid rgba(70, 121, 2, 0.12);
  padding: 10px;
  border-radius: 10px;
  width: 45pc;
}